@import "/src/styles/functions.module.scss";
.layout {
  display: flex;
  gap: px(6);
}
.messageTime {
  color: #a8b1bd;
  font-size: px(12);
  font-weight: 400;
  align-items: center;
  display: flex;
  gap: px(4);
}

.messageInfo {
  display: flex;
  align-items: center;
}
