@import "/src/styles/functions.module.scss";

.layout {
  z-index: 1;
  position: absolute;
  box-shadow: 0 px(4) px(14) 0 var(--drop-menu-shadow);
  border-radius: px(12);
  width: px(240);
  height: px(184);
  padding: px(8) 0;
  background-color: var(--primary-white);
  margin-top: px(10);
}

.content {
  display: flex;
  height: px(36);
  padding: 0 px(16);
  align-items: center;
  gap: px(8);
  align-self: stretch;
  margin-bottom: px(4);
  cursor: pointer;
}

.logout {
  display: flex;
  height: px(36);
  padding: 0 px(16);
  align-items: center;
  gap: px(8);
  align-self: stretch;
  margin-top: px(8);
  cursor: pointer;
}

.line {
  width: px(240);
  height: px(1);
  background-color: var(--secondary-cool-gray-100);
}

.contentGroup {
  margin-bottom: px(8);
}

.text {
  font-size: px(14);
  font-weight: 400;
  line-height: 130%;
  color: var(--secondary-cool-gray-600);
}

.logoutText {
  font-size: px(14);
  font-weight: px(400);
  line-height: 130%;
  color: var(--secondary-rose-500);
}
