@import "/src/styles/functions.module.scss";
.comments {
  font-size: px(13);
  font-weight: 600;
  line-height: 100%;
  color: var(--secondary-blue-blue-300);
}

.layout {
  cursor: pointer;
  display: flex;
  gap: px(6);
  align-items: center;
}
.timeAgo {
  font-size: px(12);
  font-weight: 400;
  color: var(--secondary-cool-gray-300);
}
