@import "/src/styles/functions.module.scss";

.label {
  color: --secondary-cool-gray-600;
  font-size: px(13);
  font-style: normal;
  font-weight: 400;
  display: flex;
  cursor: pointer;
  line-height: 130%;
  gap: px(2);
}

.dropIcon {
  width: px(16);
  height: px(16);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  margin-top: px(6);
  display: grid;
  grid-template-columns: repeat(1, px(1100));
  gap: px(10);
  height: px(520);
  align-items: flex-start;
}
