@import "/src/styles/functions.module.scss";

.layout {
  padding: px(10);
  border: 1px solid #e1e8ed;
  border-radius: px(10);
  width: px(360);
  background-color: #fff;
}

.workSpaceList {
  display: flex;
  align-items: center;
}

.workSpaceAdd {
  margin-top: px(20);
}
