@import "/src/styles/functions.module.scss";

.layout {
  display: flex;
  gap: px(4);
  cursor: pointer;
  align-items: center;
}

.avatar {
  display: flex;
  position: relative;
  width: px(77);
  height: px(36);
  border: px(1) solid transparent;

  &.selected {
    border: px(1) solid var(--cocoa-green);
    box-shadow: 0 0 0 px(2) var(--cocoa-green-shadow);
    border-radius: px(6);
    background-color: var(--primary-white);
    width: px(77);
    height: px(36);
  }
}

.buttons {
  display: flex;
  gap: px(3);
}

.icon {
  cursor: pointer;
  padding: px(7);
  border-radius: px(4);
  display: flex;
  align-items: center;
  border: px(1) solid transparent;

  &.selected {
    border: px(1) solid var(--cocoa-green);
    box-shadow: 0 0 0 px(2) var(--cocoa-green-shadow);
  }
}

.userCount {
  font-size: px(14);
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: var(--secondary-cool-gray-550);
}

.noticeIcon {
  width: px(22);
  height: px(22);
  stroke: #414d5c;
}
