:root {
  --cocoa-green: #00c1a2;
  --teal-400: #2ED3B7;
  --primary-white: #ffffff;

  --secondary-cool-gray-050: #f8f9fb;
  --secondary-cool-gray-100: #eef1f6;
  --secondary-cool-gray-150: #e4e8ee;
  --secondary-cool-gray-200: #cdd3dd;
  --secondary-cool-gray-300: #a8b1bd;
  --secondary-cool-gray-400: #8d99a8;
  --secondary-cool-gray-550: #5f6b7a;
  --secondary-cool-gray-600: #414d5c;
  --secondary-cool-gray-800: #0f1b2a;

  --secondary-green-400: #32d583;
  --secondary-green-500: #12B76A;

  --secondary-rose-500: #f63d68;
  --secondary-blue-blue-300: #5984ff;
  --secondary-blue-blue-400: #36bffa;
  --primary-tag-blue: #36bffa;
  --secondary-red-100: #FEE4E2;
  --secondary-red-500: #f04438;
  --tooltip-blue: #ccfbef;

  --cocoa-green-shadow: #99f6e0;
  --drop-menu-shadow: rgba(38, 43, 67, 0.16);

  --bg-opacity-20: rgba(15, 27, 42, 0.2);
}