@import "@/styles/functions.module.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100%-px(332));
  max-height: px(70);
  height: px(70);
  min-height: px(70);
  padding-right: px(16);
  background-color: var(--primary-white);
}

.spacer {
  width: px(16);
  min-width: px(16);
}
.searchIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: px(40);
  min-width: px(40);
  height: px(40);
  min-height: px(40);
  cursor: pointer;
}
