@import "/src/styles/functions.module.scss";

.layout {
  display: flex;
  flex-wrap: wrap;
  gap: px(6);
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: px(255);
}

.img {
  height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: px(12);
}
