@import "/src/styles/functions.module.scss";

.layout {
  border-radius: 20px;
  border: 1px solid var(--cocoa-green);
  display: flex;
  align-items: center;
  height: px(24);
  width: fit-content;
  background-color: rgba(38, 43, 67, 0.05);
  padding: 0 px(6) 0 px(4);
}

.emoji {
  font-size: px(13);
  display: flex;
  align-items: center;
}

.label {
  font-size: px(10);
  font-weight: 400;
  line-height: 100%;
}
