@import "@/styles/functions.module.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: px(8);
  width: 100%;
  min-width: px(250);
  height: px(40);
  min-height: px(40);
  padding: 0 px(16);
  border: 1px solid var(--secondary-cool-gray-200);
  border-radius: 20px;
  background-color: var(--secondary-cool-gray-050);

  &.rectangle {
    border-radius: 6px;
  }

  &.focused {
    border: 1px solid var(--cocoa-green);
    box-shadow: 0 0 0 px(2) var(--cocoa-green-shadow);
    background-color: var(--primary-white);
  }
}

.input {
  flex-grow: 1;
  background-color: var(--secondary-cool-gray-050);
  outline: none;
  border: none;

  &.focused {
    background-color: var(--primary-white);
  }
}

.inputResetIcon {
  cursor: pointer;
}

.searchIcon {
  stroke: var(--secondary-cool-gray-800);
  cursor: pointer;
}
