@import "/src/styles/functions.module.scss";

.layout {
  display: flex;
  padding: 0 px(12) 0 px(8);
  gap: px(4);
  cursor: pointer;
  border-radius: px(6);
  align-items: center;
}

.avatar {
  display: flex;
  position: relative;
}

.avatar div {
  position: relative;
  margin-left: -px(8);
  z-index: 1;
}

.avatar div:first-child {
  margin-left: 0;
}

.userCount {
  font-size: px(14);
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: var(--secondary-cool-gray-550);
}
