@import "@/styles/functions.module.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: px(42);
  height: px(42);
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-cool-gray-100);
  }
}
