@import "@/styles/functions.module.scss";

.container {
  height: 100%;
}

.content {
  width: 100%;
  max-height: calc(100% - px(68));
  height: calc(100% - px(68));
}

.chats {
  padding: 0 px(24);
  overflow-y: auto;
  overflow-x: hidden;
}

.input {
  display: flex;
  height: px(188);
  padding: px(24);
  flex-direction: column;
  gap: px(10);
}
