@import "@/styles/functions.module.scss";

.layout {
  display: flex;
  width: px(156);
  height: px(36);
  align-items: center;
  gap: px(4);
}
.icon {
  cursor: pointer;
}
.crownIcon {
  display: flex;
  padding: px(2.618) px(3.198);
  justify-content: center;
  align-items: center;
}

.dropButton {
  display: flex;
  gap: px(4);
}
