@import "@/styles/functions.module.scss";

.container {
  display: flex;
  padding: px(20) px(16);
  flex-direction: column;
  align-items: flex-start;
}

.menus {
  flex: 1;
  gap: px(24);
}

.messageMenuLayer {
  z-index: 1;
  position: absolute;
  margin-top: px(46);
  left: px(85);
}

.menuHeader {
  padding: px(20);
}

.dropMenu {
  background-color: var(--secondary-cool-gray-050);
  border-radius: px(6);
}

.dropList {
  margin-top: px(24);
}
